:root {
    --primary: #002E9F;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.bg-grey{background-color: var(--grey) !important;}

.btn-primary {
    background-color: var(--primary);
    border: 0;
}



.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

.bt{
    width: 100%;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--primary);
    border-radius: 6px;
    border: 2px solid var(--primary);


  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }
  

}
  
  .btn-trans-p{
    background-color:#28a745;
    border: 0;
    
}
.table-responsive{
    overflow-y:hidden;
}

.button-flex{
    display: flex;
}

.button-flex-medio{
    padding-left: 5px;
    width: 150px;
}

